<a href="https://colab.research.google.com/github/PAVARALASAISUPRIYA/fml-lab/blob/main/L1regularized_CompanyDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load or import the required libraries and modules.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

Load the company dataset from kaggle.

In [ ]:
company=pd.read_csv('/content/drive/MyDrive/company.csv')

In [ ]:
company.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
company.describe

<bound method NDFrame.describe of         TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]>

In [ ]:
company.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [ ]:
company.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

Based on the correlation values of all columns, select the input feature.

In [ ]:
co=company.corr()

In [ ]:
co

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [ ]:
X=company.loc[:,'TV']
y=company.loc[:,'Sales']

In [ ]:
X=X.to_numpy()
y=y.to_numpy()

In [ ]:
X= X.reshape(-1,1)
y=y.reshape(-1,1)

Split the dataset into train and test.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=35,train_size=0.70)

Load the lasso model and fit that model on our dataset.

In [ ]:
model = Lasso(alpha = 0.5)
model.fit(X_train, y_train)

Lasso(alpha=0.5)

Predict the outputs of the data using the above trained model.

In [ ]:
y_train_pred=model.predict(X_train)

In [ ]:
print("MAE=",mean_absolute_error(y_train,y_train_pred))
print("MSE=",mean_squared_error(y_train,y_train_pred))
print("RMSE=",np.sqrt(mean_squared_error(y_train,y_train_pred)))
print("R2 score=",r2_score(y_train,y_train_pred))

MAE= 1.8777832102736967
MSE= 5.46855665788637
RMSE= 2.3384945280856164
R2 score= 0.8123525150325102

In [ ]:
y_test_pred= model.predict(X_test)

Evaluate the performance of the trained model.

In [ ]:
print("MAE=",mean_absolute_error(y_test,y_test_pred))
print("MSE=",mean_squared_error(y_test,y_test_pred))
print("RMSE=",np.sqrt(mean_squared_error(y_test,y_test_pred)))
print("R2 score=",r2_score(y_test,y_test_pred))

MAE= 1.7177092804301242
MSE= 4.703521063921274
RMSE= 2.168760259669398
R2 score= 0.8087388594423784

In [ ]:
model.score(X_train,y_train)

0.8123525150325102

In [ ]:
model.score(X_test,y_test)

0.8087388594423784