<a href="https://colab.research.google.com/github/PAVARALASAISUPRIYA/fml-lab/blob/main/Multivariate_startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

Downloaded and uploaded the startup dataset from the kaggle.

In [ ]:
startup=pd.read_csv('/content/drive/MyDrive/50_Startups.csv')

Analyzing the dimensions of the dataset.

In [ ]:
startup.shape

(50, 5)

In [ ]:
startup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Checking the quality of the dataset by verifying th ecoutn of the null values.

In [ ]:
startup.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
startup.corr()

<ipython-input-6-7b5aa6741724>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  startup.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [ ]:
X=startup.iloc[:,:3]
y=startup.loc[:,'Profit']

In [ ]:
startup['State'].nunique()

3

In [ ]:
startup['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

Split the dataset into trian and test.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=35,train_size=0.70)

In [ ]:
X_train.shape

(35, 3)

Load the linear regression model and fit the model on startup dataset.

In [ ]:
model = linear_model.LinearRegression()
model.fit(X_train, y_train )

LinearRegression()

Model predictions.

In [ ]:
y_train_pred=model.predict(X_train)

Evaluation of the model.

In [ ]:
print("MAE=",mean_absolute_error(y_train,y_train_pred))
print("MSE=",mean_squared_error(y_train,y_train_pred))
print("RMSE=",np.sqrt(mean_squared_error(y_train,y_train_pred)))
print("R2 score=",r2_score(y_train,y_train_pred))

MAE= 7196.947651578407
MSE= 93097868.69310455
RMSE= 9648.723682078607
R2 score= 0.9540828066692922

In [ ]:
y_test_pred= model.predict(X_test)

In [ ]:
print("MAE=",mean_absolute_error(y_test,y_test_pred))
print("MSE=",mean_squared_error(y_test,y_test_pred))
print("RMSE=",np.sqrt(mean_squared_error(y_test,y_test_pred)))
print("R2 score=",r2_score(y_test,y_test_pred))

MAE= 5549.5781581864485
MSE= 50346468.323551685
RMSE= 7095.524527725324
R2 score= 0.9062296491307886